.colorGray {
  color: gray;
}
.DeleteHide {
  display: none;
}
.listItems {
  height: 20px;
  padding: 5px;
}
.listItemshide {
  display: none;
}
.listItemsActive {
  height: 20px;
  padding: 5px;
}
.listItemsComplete {
  display: none;
  height: 20px;
  padding: 5px;
}
.todoitem label {
  margin-left: 10px;
}
.todoitem:hover {
  background-color: aquamarine;
}
.todoitem:hover .DeleteHide {
  display: inline-block;
  margin-left: 10px;
  float: right;
}
.inputForm {
  margin-top: 10px;
  margin-left: 400px;
}
.footer {
  margin-top: 20px;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer button {
  background-color: transparent;
  border: none;
  outline: none;
}
.footer button:focus {
  color: red;
}
.footer ul li {
  flex: 1;
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}
.footer ul li a {
  text-decoration: none;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}
.footer ul li a:focus {
  color: red;
}
.footer ul li button:hover {
  cursor: pointer;
}
.boder {
  border: 1px solid grey;
}
